# Typecasting

typecasting means changing one datatype to other datatype 

datatypes are:
int,float,boolean,complex,string

# integer 
int-->float,boolean string numbers are possible

int-->complex,strings are not possible

In [6]:
int(2.4) # converting float to integer

2

In [11]:
int(True)  #converting boolean to int

1

In [13]:
int(1+2j) #converting complex to int its is not possible

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [15]:
int("10") #converting string to integer

10

In [17]:
int("chanu")  # converting string to int if it has characters or names it is not possible

ValueError: invalid literal for int() with base 10: 'chanu'

# Float
float-->int,boolean string numbers are possible

float-->complex,strings are not possible

In [22]:
float(2) #converting int to float

2.0

In [24]:
float(True)  # converting boolean to float

1.0

In [26]:
float(1+2j)  #converting complex to float not possibble

TypeError: float() argument must be a string or a real number, not 'complex'

In [28]:
float("10") #converting string numbers to float

10.0

In [30]:
float("chanu") #converting string to float not possible

ValueError: could not convert string to float: 'chanu'

# Boolean
boolean-->int,float,complex,string(numbers,characters) all are possible

In [35]:
bool(1) #converting int to bool

True

In [37]:
bool(3.4) #converting float to bool

True

In [39]:
bool(1+2j) #converting complex to bool

True

In [41]:
bool("10") # converting string numbers to bool

True

In [43]:
bool("chanu") # converting string to bool

True

# Complex
complex-->int,float,boolean string numbers are possible

complex-->strings chracters are not possible

In [48]:
complex(1) #converting int to complex

(1+0j)

In [50]:
complex(2.5) # converting float to complex

(2.5+0j)

In [52]:
complex(True) # converting boolean to complex

(1+0j)

In [54]:
complex("10") # converting string number to complex

(10+0j)

In [56]:
complex("chanu") # converting string to complex not possible

ValueError: complex() arg is a malformed string

# string
string-->int,float,complex,boolean all are possible

In [62]:
str(1) # converting int to string

'1'

In [68]:
str(1.4) # converting float to string

'1.4'

In [70]:
str(True) # converting boolean to string

'True'

In [72]:
str(1+3j) # converting complex to string

'(1+3j)'