# Tuple

Tuple=()

Tuple is also inbulit function in datastructures. Tuple is same like list but it is immutable we cannot change the values in list we can change.

In tuple duplicates are allowed and multiple dataypes are allowed indexing and slicing also allowed in tuple.

In real time example tuple is used in bank account user profile details like adhar number,pan number etc, 
once we entered we cannot change it.

Tuple has only 2 functions:

Method--Description

count()--Returns the number of times a specified value occurs in a tuple

index()--Searches the tuple for a specified value and returns the position of where it was found

In [7]:
t=() # tuple
t

()

In [9]:
type(t)

tuple

In [11]:
# we directly insert the values in tuple without any functions
t=(2,77,23,89,1,45) 
t

(2, 77, 23, 89, 1, 45)

In [13]:
# we will insert duplicates and different datatypes in tuple
t1=(2,3.4,5,True,'8+12j',True,'Chanu',3.4,2)
t1

(2, 3.4, 5, True, '8+12j', True, 'Chanu', 3.4, 2)

In [15]:
len(t1)

9

In [19]:
t1

(2, 3.4, 5, True, '8+12j', True, 'Chanu', 3.4, 2)

In [17]:
# we cannot change the values in tuple
t1[0]=5

TypeError: 'tuple' object does not support item assignment

In [21]:
t

(2, 77, 23, 89, 1, 45)

In [23]:
t1

(2, 3.4, 5, True, '8+12j', True, 'Chanu', 3.4, 2)

In [27]:
# count retuens the number of occurance of thr values
t1.count(2)

2

In [29]:
t.count(2)

1

In [33]:
# index we will give the value it will finds the indx position of the  value in tuple.In the tuple it will give the first occurance value
t.index(77)

1

In [35]:
t1.index(True)

3

In [37]:
t.index(1)

4

In [39]:
t

(2, 77, 23, 89, 1, 45)

In [41]:
t1

(2, 3.4, 5, True, '8+12j', True, 'Chanu', 3.4, 2)

In [43]:
#indexing: forwatd indexing and backward indexing
t[2]

23

In [45]:
t1[5]

True

In [47]:
t[-3]

89

In [49]:
t1[-6]

True

In [51]:
t[5]

45

In [53]:
# slicing: forward slicing and backward slicing
# [start:stop] and [start:stop:step]
t[1:6]

(77, 23, 89, 1, 45)

In [55]:
t[3:8]

(89, 1, 45)

In [57]:
t[:]

(2, 77, 23, 89, 1, 45)

In [59]:
t1[2:9]

(5, True, '8+12j', True, 'Chanu', 3.4, 2)

In [61]:
t1[-7:-2]

(5, True, '8+12j', True, 'Chanu')

In [63]:
t1[-8:-1:2]

(3.4, True, True, 3.4)

In [65]:
t[1:8:3]

(77, 1)

In [69]:
for i in t:   #for loop also allowed in tuple
    print(i)

2
77
23
89
1
45

In [71]:
for i in enumerate(t): # enumerate will give the index for all the values
    print(i)

(0, 2)
(1, 77)
(2, 23)
(3, 89)
(4, 1)
(5, 45)

In [76]:
# we will check weather the values in list will be multiples are not
t*2 # it gives the duplicates values instead of multiplication

(2, 77, 23, 89, 1, 45, 2, 77, 23, 89, 1, 45)

# Math functions

Some math functions like sqrt, ceil, floor

In [81]:
import math

In [87]:
x=math.sqrt(25)
x

5.0

In [89]:
x1=math.sqrt(20)
x1

4.47213595499958

In [93]:
print(math.floor(3.5)) # floor means minimum value i.e removes the float value and gives the int value

3

In [95]:
print(math.floor(44.678))

44

In [97]:
print(math.ceil(3.5)) # ceil means maximum value

4

In [99]:
print(math.ceil(34.4))

35

In [101]:
print(math.ceil(2.6))

3